<section>
  <app-header>
    <h1 id="header">
      Products
    </h1>
  </app-header>
</section>
<article *ngIf="products?.length">
  <section class=" main-list rounded">
    <section class="header">
      <h2 class="mx-2 d-inline header-title">Products</h2>
      <h3 class="d-inline total">{{products.length}} Total</h3>
    </section>
    <section class="list-header">
      <span>
        Title
      </span>
      <span>
        ID
      </span>
      <span>
        Company ID
      </span>
      <span>
        production time
      </span>
      <span>
        Status
      </span>
    </section>
    <section *ngFor="let product of products" class="list-row">
      <span>
        {{product.title}}
      </span>
      <span>
        {{product.id}}
      </span>
      <span>
        {{product.companyId}}
      </span>
      <span>
        {{product.productionTime}}
      </span>
      <span>
        {{product.status}}
      </span>

    </section>
  </section>
</article>
